body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.neomorph-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.neomorph-button:hover {
  box-shadow: inset 10px 10px 20px #bebebe, inset -10px -10px 20px #ffffff;
}