body {
    background-color: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.app-container {
    width: 90%;
    max-width: 800px;
    background: #e0e0e0;
    border-radius: 10px;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    padding: 20px;
    margin: 30px;
    text-align: center;
}

.book-detail-container {
    width: 90%;
    max-width: 800px;
    background: #e0e0e0;
    border-radius: 10px;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    padding: 20px;
    margin: 30px;
    text-align: center;
}

.book-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-content img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.book-list-item {
    display: flex;
    align-items: center;
}

.book-list-image {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
}

.header {
    background: #e0e0e0;
    border-radius: 10px;
    box-shadow: inset 10px 10px 20px #bebebe, inset -10px -10px 20px #ffffff;
    padding: 20px;
    margin-bottom: 20px;
}

.header h1 {
    margin: 0;
    color: #333;
    font-weight: 600;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-bar,
.sort-dropdown,
.genre-dropdown {
    outline: none;
    padding: 10px;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: inset 10px 10px 20px #bebebe, inset -10px -10px 20px #ffffff;
    border: none;
    margin: 0 10px;
    font-size: 16px;
}

.task-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    list-style-type: none;
    padding: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: inherit;
}

.task-item:hover {
    box-shadow: inset 10px 10px 20px #bebebe, inset -10px -10px 20px #ffffff;
}

.neomorph-button {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.neomorph-button:hover {
    box-shadow: inset 10px 10px 20px #bebebe, inset -10px -10px 20px #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-button {
    padding: 10px;
    margin: 0 5px;
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #ffffff;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.page-button.active {
    background-color: #d4d4d4;
    box-shadow: inset 10px 10px 20px #bebebe, inset -10px -10px 20px #ffffff;
}

.page-button:hover {
    box-shadow: inset 10px 10px 20px #bebebe, inset -10px -10px 20px #ffffff;
}
